

    <!-- Barcode Scanner -->
    <button id="start-scanner">Start Barcode Scanner</button> 
    <button id="stop-scanner" style="display: none;">Stop Scanner</button>
    <div id="reader" style="width: 400px; height: 300px; display: none;"></div>

    <button id="bulk-scanner">Bulk scan</button>  
   
    
