<%- include("_header") %>

<form id="addProduct" action="/products" method="POST"></form>
<form id="fetchBarcode" action="/products/barcode/:barcode" method="POST"></form>

<div id="barcodeSection">
    <label for="barcode">Barcode:</label>
    
    <input type="text" id="barcode" name="barcode" form="fetchBarcode" form="addProduct" required>
    
    <!-- <button id="start-scanner" >Start Barcode Scanner</button> -->
    <button type="button" id="fetchButton" form="fetchBarcode">Fetch Product</button>
</div>

<div id="status-window"></div>

<br>

<%- include("_scanner") %>

<br>
<br>

<div id="input-section">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" form="addProduct" required>
    </div>
    <div>
        <label for="quantity">Description:</label>
        <input type="text" id="description" name="description" form="addProduct">
    </div>
    <div>
        <label for="size">Size:</label>
        <input type="text" id="size" name="size" form="addProduct">
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" name="price" form="addProduct">
    </div>
    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" form="addProduct">
    </div>
    

    
    
    <button type="submit" form="addProduct">Add Product</button>
</div>

<br>
<br>

<form action="/products" method="GET">
    <button type="submit">Back to list</button>
</form>


<%- include ("_scannerScript") %>
<script>
    const fetchButton = document.getElementById("fetchButton")
    
    fetchButton.addEventListener("click", async () => {
        try {
        const barcode = document.getElementById("barcode").value
        const response = await fetch(`/products/barcode/${barcode}`)
        console.log("Looking for barcode: " + JSON.stringify(barcode))
        if (!response.ok) {
            console.log(response.json())
            document.getElementById("fetchStatus").value = await response.json()

        }


        const product = await response.json()

        document.getElementById("name").value = product.name
        document.getElementById("size").value = product.size
        document.getElementById("price").value = product.price
        document.getElementById("quantity").value = product.quantity
        console.log("Product data fetched and prefilled")

       } catch (e) {
        document.getElementById("status-window").innerText = "Product not found"
        console.error("Error fetching product", e)
       }
    })
</script>

<%- include("_footer") %>