.list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.item-attribute {

    text-align: center;
    width: 80%
}



.item-actions {
    flex: 1.4; /* Double the size of .item-attribute */
    text-align: center;
}

input {
    text-align: center;
}



.list-header {
    font-weight: 700;
}

#input-section{
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
}

th, td {
    width: 16%;  
    text-align: center;
}

.item-detail {
    width: 80%;
}

#status-window {
    color: red;
}

#delete-button {
    color:red;
}

#detail-bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
}